# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Electron build output
dist/
out/

# OS
.DS_Store
Thumbs.db
desktop.ini

# Editor
.vscode/
.idea/
*.swp
*.swo

# Local
*.log
.env
.env.local
